html {
    box-sizing: border-box;
    font-size: 13px;
    background: white;
    position: relative;
  }

  body.vscode-light {
    color: black;
  }

  body.vscode-dark {
    color: black;
    background: white;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .navbar {
    padding: 2px 0px;
    width: 150px;
    background: rgb(54, 54, 54);
   
    color: rgb(255, 255, 255);
  }

  .navbar > .icon{
    margin: 1px;
    width:18px;
    height:18px;
    border: 2px solid rgb(54, 54, 54);
  }

  .selected.icon{
    background: rgb(25, 25, 25);
    border: 2px solid rgb(25, 25, 25);
  }

  .navbar > .icon:hover{
    background: rgb(25, 25, 25);
    border: 2px solid rgb(25, 25, 25);
  }

  
.wrapper {
  position: relative;
  height: 100% !important;
  width: 100% !important;
}

.widget {
  display: block;
  position: absolute;
}
